.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    position: relative;
    width: 150px;
    height: 50px;
    transition: 1s;
    overflow: hidden;
    z-index: 1;
    border: 1px solid gold;
}
button:hover{
    color: #fff;
    box-shadow: 0 0 10px gold,0 0 10px gold,0 0 10px gold,0 0 10px gold;
}
button::before{
    position: absolute;
    content: "";
    width: 0;
    height: 50px;
    left: -70px;
    top: 0px;
    transform: skew(35deg);
    transition: linear 1s;
    z-index: -1;
}
button:hover::before{
    width: 150px;
    background-color: aqua;
}